body {
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}



.fotoCV {
    display: flex;
    margin: 20px auto;
    border-radius:15px;
}

div {
    word-wrap: break-word;
    
}

.CV {
    margin: 100px 20% 100px 20%;
    
}

.Skills {
    background-color: #07182E;
   
}

.Experiencia {

    background-color: slategrey;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

h2 {
    text-align: center;

}

h5 {
    text-decoration: underline;
}

.subTit {
    font-size:larger;
    text-decoration: underline;
}
.ExperienciaLab {
    margin: 10%
}

.FormacionAcadem{
    margin:10%;
}